/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content1 {
  background-color: rgba(51, 51, 101, 0.8);
  padding: 40px 0;
}

section.module.content2 {
  padding: 40px 0;
  background-color: rgba(35, 42, 122, 0.8);
}

section.module.content3 {
  padding: 40px 0;
  background-color: rgba(77, 93, 69, 0.8)
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  position: relative;
  top: 200px;
  line-height: 150px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/demo/_small/1.png");
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.png");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.png");
}

@media all and (min-width: 600px) {
  section.module h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 42px;
    color: white;
  }
  section.module p {
    font-size: 20px;
    color: white;
  }
  section.module.parallax h1 {
    font-size: 50px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 100px;
  }

  section.module.parallax h1:hover {
    font-size: 115px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
